
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";


html, body {
height: 100%;
font-family: 'Numans', sans-serif;
}

.container {
height: 100%;
align-content: center;
}

.card {
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(52,58,64,1) !important;
}

h3 {
	color: white;
}

.input-group-prepend span {
width: 50px;
background-color: #007bff;
color: black;
border:0 !important;
}

input:focus {
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember {
color: white;
}

.remember input {
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn {
color: black;
background-color: #007bff;
width: 100px;
}

.login_btn:hover {
color: white;
background-color: #343a40;
}

.links {
color: white;
}

.links a {
margin-left: 4px;
}